# Astro Runtime includes the following pre-installed providers packages: https://www.astronomer.io/docs/astro/runtime-image-architecture#provider-packages
astronomer-cosmos
astronomer-cosmos[dbt-postgres]
apache-airflow-providers-postgres
Faker
numpy
pandas
pandera
psycopg2-binary
python-dotenv
SQLAlchemy